body{
    font-family: Arial;
    text-align: center;
}

header{
    background-color: #4CAF50;
    color: white;
    padding: 15px;
}
.cards{
    display:flex;
    justify-content:center;
    gap:20px;
}

.card{
    background:#f2f2f2;
    padding:20px;
    border-radius:10px;
    cursor:pointer;
    width:150px;
}

.card:hover{
    background:#4CAF50;
    color:white;
}
.resultBox{
    margin-top:20px;
    padding:15px;
    border-radius:8px;
    background:#e8f5e9;
    font-weight:bold;
    width:300px;
    margin-left:auto;
    margin-right:auto;
}
.marketTable{
    margin:auto;
    margin-top:20px;
    border-collapse:collapse;
    width:300px;
}

.marketTable th{
    background:#4CAF50;
    color:white;
    padding:10px;
}

.marketTable td{
    padding:10px;
    text-align:center;
}

.farmerImage{
    width:300px;
    border-radius:10px;
    margin-top:20px;
}
.headerImage{
    width:120px;
    border-radius:50%;
    margin-top:10px;
}
.headerContainer{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:15px;
}

.headerImage{
    width:90px;
    height:90px;
    border-radius:70%;
}
